---
layout: default
title: "GitLab core team"
suppress_header: true
extra_css:
  - core.css
---
<div class="wrapper">
  <div class="core-container">
    <div class="core-overlay">
      <div class="core-content">
        <h1>Core Team</h1>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/dmitriy.jpg" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="http://dzaporozhets.me/"><div class="website no-margin"></div></a>
            </li>
            <li>
              <a href="https://twitter.com/dzaporozhets"><div class="twitter no-margin"></div></a>
            </li>
            <li>
              <a href="http://ua.linkedin.com/in/dzaporozhets"><div class="linkedin no-margin"></div></a>
            </li>
            <li>
              <a href="https://gitlab.com/u/dzaporozhets"><div class="gitlab no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/randx"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Dmitriy Zaporozhets</h2>
        <p>Dmitriy started GitLab in september 2011 and has released it every month on the 22nd since then. He wanted to make a great and free project management system that he could use every day. He loved to work on GitLab so much that in January of 2013 he began to work on GitLab fulltime. When he has time he loves to code a major new GitLab feature in two days. He loves a good Martini and a merge request that can be accepted without comments.</p>
        <h3 class="title">Specialities</h3>
        <ul>
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab-ce/">GitLab CE</a>
            Lead
          </li>
          <li>
            <a href="https://gitlab.com/gitlab-org/gitlab-ci/">GitLab CI</a>
            Lead
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/nihad.jpg" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="http://narkoz.github.io/"><div class="website no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/NARKOZ"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Nihad Abbasov</h2>
        <h3 class="title">Specialities</h3>
        <ul>
          <li>
            api
          </li>
          <li>
            atom feed
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/marin.jpeg" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="https://twitter.com/maxlazio"><div class="twitter no-margin"></div></a>
            </li>
            <li>
              <a href="http://rs.linkedin.com/pub/marin-jankovski/21/a/a64"><div class="linkedin no-margin"></div></a>
            </li>
            <li>
              <a href="https://gitlab.com/u/marin"><div class="gitlab no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/maxlazio"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Marin Jankovski</h2>
        <p>Marin loves to develop in Rails but has also grown an interest in operations, specifically Amazon Web Services and Opscode Chef. When video conferencing with him you get a cat running accross the room as a bonus. He is notorious for starting early in the morning just after breakfast and not having lunch until his workday is over. You would expect him to be hungry and grumpy the last few hours but as long as his internet connection is up he is always friendly and upbeat. He loves travelling and talking. A lot of talking. A lot.</p>
        <h3 class="title">Specialities</h3>
        <ul>
          <li>
            <a href="https://gitlab.com/gitlab-org/cookbook-gitlab">GitLab Cookbook</a>
            Lead
          </li>
          <li>
            <a href="https://gitlab.com/gitlab-org/omnibus-gitlab">Omnibus-gitlab</a>
            Lead
          </li>
          <li>
            GitLab Flavored Markdown (GFM) support
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/robert.jpeg" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="https://twitter.com/Razer6"><div class="twitter no-margin"></div></a>
            </li>
            <li>
              <a href="https://gitlab.com/u/razer6"><div class="gitlab no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/Razer6"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Robert Schilling</h2>
        <p>Robert is a developer who loves science and technology. He currently studies telematics with focus on digital signal processing at Graz University of Technology.  In his spare time he enjoys mountain biking, skiing and photography. When not in front of his computer, Robert can often be found with a glass of good single malt whisky or beer in his hand discussing sports and open source software.</p>
        <h3 class="title">Specialities</h3>
        <ul>
          <li>
            issue triage lead
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>
     <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/jacob.jpeg" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="https://twitter.com/jacobvosmaer"><div class="twitter no-margin"></div></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/profile/view?id=15991252"><div class="linkedin no-margin"></div></a>
            </li>
            <li>
              <a href="https://gitlab.com/u/jacobvosmaer"><div class="gitlab no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/jacobvosmaer"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Jacob Vosmaer</h2>
        <p>Jacob is a doctor in logic. He likes to understand and explain complex technical systems. That helps with his job as a senior service engineer at GitLab.com. In his spare time he likes to read Unix books and has a second career as tango DJ in Amsterdam.</p>
        <h3 class="title">Specialities</h3>
        <ul>
          <li>
	    omnibus-gitlab
	    (
	    <a href="https://gitlab.com/gitlab-com/www-gitlab-com/merge_requests/318#note_296648">awarded</a> 
	    a golden gear medal for bravery and acts of merit serving in the trenches of GitLab Omnibus
	    )
	    <br />
            <img src="/images/golden_gear_medal/golden_gear_medal_175x350.png">
          </li>
          <li>
             unix security
          </li>
          <li>
             LDAP
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/sytse.jpeg" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="http://www.sytse.com/"><div class="website no-margin"></div></a>
            </li>
            <li>
              <a href="https://twitter.com/sytses"><div class="twitter no-margin"></div></a>
            </li>
            <li>
              <a href="http://nl.linkedin.com/in/sijbrandij"><div class="linkedin no-margin"></div></a>
            </li>
            <li>
              <a href="https://gitlab.com/u/sytses"><div class="gitlab no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/dosire"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Sytse Sijbrandij</h2>
        <p>Sytse saw the first ruby code in 2007 and loved it so much he dove head first into programming. Before that he was engaged in business administration roles and combining that with software development is his passion. He is always looking to make a template out of something or to automate a process. His team members suspect he has todo list and reminders for everything, including breakfast and getting his hair cut. He loves a good beer and organizing a trip to a conference.</p>
        <h3 class="title">Specialities</h3>
        <ul>
          <li>
            readme
          </li>
          <li>
            interface text
          </li>
        </ul>
      </div>
    </div>
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/jeroen.jpg" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="https://twitter.com/jvanbaarsen"><div class="twitter no-margin"></div></a>
            </li>
            <li>
              <a href="http://nl.linkedin.com/in/jvanbaarsen"><div class="linkedin no-margin"></div></a>
            </li>
            <li>
              <a href="https://gitlab.com/u/jeroenvanbaarsen"><div class="gitlab no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/jvanbaarsen"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Jeroen van Baarsen</h2>
        <img src="/images/merge_marshal/mm_badge_st.png">
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/drew.jpg" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="https://twitter.com/drewblessing"><div class="twitter no-margin"></div></a>
            </li>
            <li>
              <a href="http://www.linkedin.com/pub/drew-blessing/21/908/b64/"><div class="linkedin no-margin"></div></a>
            </li>
            <li>
              <a href="https://gitlab.com/u/drewb"><div class="gitlab no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/dblessing"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Drew Blessing</h2>
        <img src="/images/merge_marshal/mm_badge_st.png">
      </div>
    </div>
    <div class="row">
      <hr class="hor-line">
    </div>
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/axil.jpg" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="http://axilleas.me/"><div class="website no-margin"></div></a>
            </li>
            <li>
              <a href="https://twitter.com/_axil"><div class="twitter no-margin"></div></a>
            </li>
            <li>
              <a href="https://gitlab.com/u/axil"><div class="gitlab no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/axilleas"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Achilleas Pipinellis</h2>
        <p>Achilleas is an open source enthusiast that tries to get involved in as many projects as possible.
        His linux distro of choice is Archlinux, although since 2013 he's enjoying making packages for Fedora. You'll often listen him
        quoting from his favorite movie "The Big Lebowski". When he is not in front of his laptop (a Thinkpad X220 of course!)
        he practises Aikido, reads Bukowski and enjoys a good meal he cooked all by himself.
        </p>
        <h3 class="title">Specialities</h3>
        <ul>
          <li>
             <a href="https://gitlab.com/gitlab-org/gitlab-recipes/">GitLab Recipes</a> Lead
          </li>
        </ul>
      </div>
    </div>
     <div class="row">
      <hr class="hor-line">
    </div>
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/hannes.jpg" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="https://gitlab.com/u/haynes"><div class="gitlab no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/123Haynes"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Hannes Rosen&ouml;gger</h2>
        <p>Hannes is a developer who loves open source.
           His motto is: "If something is broken that you need and you are able to fix it, don't just talk about it. Fix it!"
           In his spare time he enjoys swimming, badminton and relaxing with his friends.
           When he is not in front of his computer, he can often be found on various camping places where he helps out the scouts of his hometown.
        </p>
      </div>
    </div>
     <div class="row">
      <hr class="hor-line">
    </div>
    <div class="teams row">
      <div class="col-sm-3 col-md-3">
        <div class="padding row">
          <img src="/images/team/ayufan.jpg" class="img-responsive">
        </div>
        <div class="row">
          <ul class="team">
            <li>
              <a href="https://ayufan.eu/"><div class="website no-margin"></div></a>
            </li>
            <li>
              <a href="https://twitter.com/ayufanpl"><div class="twitter no-margin"></div></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/kamiltrzcinski"><div class="linkedin no-margin"></div></a>
            </li>
            <li>
              <a href="https://gitlab.com/u/ayufan"><div class="gitlab no-margin"></div></a>
            </li>
            <li>
              <a href="https://github.com/ayufan"><div class="github no-margin"></div></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <h2 class="title">Kamil Trzciński</h2>
        <p>Kamil is a low-level programming enthusiast with years of experience in building apps for all platforms. He is also a security, virtualization and graphics expert with a variety of programming languages in his toolkit together with deep operating systems architecture knowledge. He's focusing lately on security principles of mobile platforms and the "container revolution". In his spare time he likes to run, cycle and play good games, although not all at the same time.
        </p>
      </div>
    </div>
     <div class="row">
      <hr class="hor-line">
    </div>
    <div class="row">
      <p>Many core team members did a lot of fixes, improvements and refactoring. The above list indicates some of their specialties but it is not complete.</p>
      <p>GitLab core team members who are no longer active but whose work is very much appreciated can be found on the <a href="/alumni">core team alumni page</a>.</p>
      <p>
        The GitLab core-team is not bound to any single (not-)for-profit organization.
        This arrangement is similar to those of the Ruby, Ruby on Rails, Linux and PostgreSQL projects.
        There is no formal process, team members discuss topics on the private gitlab-core mailinglist and Slack channel.
        You can get invited for the core team after <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md">contributing</a> to GitLab for a sustained period of time.
        You can contribute by coding but also by giving feedback on merge requests, triaging on the issue tracker or helping out on the mailinglist.
      </p>
    </div>
  </div>
</div>
